<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crmadduser.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('home') }}" class="login-button">Home</a>
        <a href="{{ url_for('adminlogin') }}" class="login-button1">Admin Login</a>
        <a href="{{ url_for('adminportal') }}" class="login-button1">Admin Portal</a>
    </div>
    <div class="form-container">
        <h2>Add User</h2>
        <form action="add-user" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
