<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crmhome.css') }}">
</head>
<body>
    <div class="container">
        <div class="header-image">
            <img src="{{ url_for('static', filename='images/codegnan-logo.png') }}" alt="Codegnan-logo">
        </div>
        <h1>Welcome to CRM Portal</h1>
        <div class="login-container">
            <a href="/admin-login" class="login-button">Admin Login</a>
            <a href="/user-login" class="login-button">User Login</a>
        </div>
    </div>
</body>
</html>
