<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Mr.Sai Vardhan" />
        <meta name="description " content="A Best Coliving Pg" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Madineni Homes</title>
    </head>
    <body>
        <!--
            <img src="{{ url_for('static', filename='images/my_image.jpg') }}" alt="My Image">
        -->
        <div class="a">
            <div class="aa">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="My Image">
            </div>
            <div class="ab">
                <a href="menu"><button>Food Menu</button></a>
            </div>
            <div class="ab">
                <a href="admin"><button>Admin</button></a>
            </div>
        </div>
        <div class="c">
            <div class="ca">
                <img src="{{ url_for('static', filename='images/home.jpg') }}" alt="My Image">
            </div>
            <div class="cb">
                <img src="{{ url_for('static', filename='images/home1.jpg') }}" alt="My Image">
            </div>
            <div class="cc">
                <img src="{{ url_for('static', filename='images/home2.jpg') }}" alt="My Image">
            </div>
            <div class="cd">
                <img src="{{ url_for('static', filename='images/home3.jpg') }}" alt="My Image">
            </div>
            <div class="ce">
                <img src="{{ url_for('static', filename='images/home4.jpg') }}" alt="My Image">
            </div>
        </div>
    </body>
</html>
