<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div>
            <a href="{{'getdata'}}"><button>Click to get data</button></a>
        </div>
        <div>
            <form method="POST" action="{{'register'}}">
                <label for="name">Enter Name: </label>
                <br><br>
                <input type="text" id="name" name="name" placeholder="Enter Name">
                <br>
                <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>